
  <div class="form-items p-4">
    <%= simple_form_for([@category, @progress, idea], local: true) do |form| %>
      <div class='form-inputs'>
        <%= form.label :content %>
        <%= form.rich_text_area :content %>
      </div>

      <div class="form-actions pt-3">
        <%= form.submit %>
      </div>
    <% end %>
  </div>
