<%= content_tag :li, data: { target: 'draggable.idea', url: category_progress_idea_path(category, progress, idea) } do %>
  <div class="idea p-3 d-flex justify-content-between">
        <%= idea.content %>
      <%= link_to [category, progress, idea], method: :delete do %>
        <i class="ph-trash" id="add-button"></i>
      <% end %>
  </div>
<% end %>
