<div class="nav-container d-flex">
  <div class="logo-box bd-highlight p-3">
    <%= link_to root_path do %>
      <%= image_tag 'ideally-logotype.png', id: 'logo' %>
    <% end %>
  </div>
  <div class="bd-highlight w-100"></div>

<div class="nav-button flex-shrink-1 bd-highlight p-3 d-flex align-items-center">
    <% if user_signed_in? %>
          <%= link_to 'sign out', destroy_user_session_path, method: :delete, class: "nav-link" %>
      <% else %>
        <%= link_to 'sign in', new_user_session_path, class: "nav-link" %>
    <% end %>
  </div>
</div>
