<div class="nav-container d-flex">
  <div class="logo-box bd-highlight p-3">
    <%= link_to root_path do %>
      <%= image_tag 'ideally-logotype.png', id: 'logo' %>
    <% end %>
  </div>
  <div class="bd-highlight w-100"></div>

  <% if user_signed_in? %>
      <%= link_to destroy_user_session_path, method: :delete, class: "nav-button" do %>
        <div class="nav-link position-absolute top-50 start-50 translate-middle flex-shrink-1 bd-highlight p-3 d-flex align-items-center">
          <p>sign out</p>
        </div>
      <% end %>

    <% else %>
      <%= link_to new_user_session_path, class: "nav-button" do %>
        <div class="nav-link position-absolute top-50 start-50 translate-middle flex-shrink-1 bd-highlight p-3 d-flex align-items-center">
          <p>sign in</p>
        </div>
      <% end %>
    <% end %>
</div>
