<div class="home-all">
  <div class="home-top">
    <div class="star-contain">
      <%= image_tag 'star-pattern-02.png', class:'star-pattern' %>
    </div>
  </div>

  <div class="home-hero d-flex">

    <div class="home-text bd-highlight w-100">
      <h1>Make ideas come true</h1>
      <p class="mt-3">An organized approach to kickstarting your projects</p>
    </div>

    <% if user_signed_in? %>
      <%= link_to categories_path, class:'home-cta' do %>
        <div class="bd-highlight p-3 d-flex align-items-center">
          <p class='position-absolute top-50 start-50 translate-middle'>Browse my categories</p>
        </div>
      <% end %>
    <% else %>
      <%= link_to new_user_session_path, class:'home-cta' do %>
        <div class="bd-highlight p-3 d-flex align-items-center">
          <p class='position-absolute top-50 start-50 translate-middle'>Get started</p>
        </div>
      <% end %>
    <% end %>

  </div>
</div>
