// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "config/fonts";
@import "config/colors";


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  font-size: 4rem;
  line-height: 4rem;
}

h2, h3 {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
}

p {
  font-family: 'Space Mono', monospace;
}

body {
  background-color: $beige;
  font-family: 'Space Mono', monospace;
  cursor: asset-url("cursor.svg"), auto;
}

::selection {
  background: $green;
  color: $black; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $green;
  color: $black;
}

#logo {
  width: 100px;
}

.nav-container {
  border: 2px solid $black;
}

.logo-box {
  border-right: 2px solid $black;
  text-align:center;
  background-color: $pink;
}

.nav-button {
  border-left: 2px solid $black;
  width: 20%;
  &:hover {
    background-color: $yellow;
  }
}

a {
  color: $black;
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  position: relative;
  text-decoration: none;
  &:hover {
    color: $black;
  }
}

.uppercase-small {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.nav-link {
  color: $black;
  text-align: center;
  &:hover {
    color: $black;
  }
}


.box-border {
  border: 2px solid $black;
}

// homepage

.home-top {
  border-left: 2px solid $black;
  border-right: 2px solid $black;
}

.star-contain {
  height: 39vh;
  position: fixed;
  object-fit: contain;
}


.star-pattern {
  max-height: 200%;
}

.home-cta {
  border-left: 2px solid $black;
  background-color: $green;
  width: 300px;
  &:hover {
    background-color: $yellow;
  }
}

.home-hero {
  border-top: 2px solid $black;
  border-bottom: 2px solid $black;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40vh;
  background-color: $yellow;
}

.home-text {
  padding: 30px;
  padding-right: 40%;
}

//categories index

.category-top {
  border-bottom: 2px solid $black;
  border-left: 2px solid $black;
  border-right: 2px solid $black;
}

.cat-title {
  background-color: $pink;
}

.new-cat-link {
  text-align: center;
  border-left: 2px solid $black;
  background-color: $green;
  &:hover {
    background-color: $yellow;
  }
}

.category {
  // width: 25%;
  height: 150px;
  padding: 15px;
  border-right: 2px solid $black;
  border-bottom: 2px solid $black;
  // border-right: 2px solid $black;
  background-color: $white;
    &:hover {
      background-color: $yellow;
    }
}

.category-section {
  border-left: 2px solid $black;
  border-right: 2px solid $black;
  height: 100vh;
}

.category-title {
  text-transform: capitalize;
  font-weight: 300;
}

#action-button {
  font-size: 24px;
}

#add-button {
  font-size: 24px;
  text-align: center;
}

.add-button-area {
  border-bottom: 2px solid $black;
  height: 50px;
  background-color: $green;
  &:hover {
    background-color: $yellow;
  }
}

// idea index
.idea-top {
  border-bottom: 2px solid $black;
  border-left: 2px solid $black;
  border-right: 2px solid $black;
}

// .idea-content {
//   font-family: 'Space Mono', monospace;
// }

.new-idea-link {
  text-align: center;
  border-left: 2px solid $black;
  background-color: $green;
  &:hover {
    background-color: $yellow;
  }
}

.edit-idea-link {
  text-align: center;
  border-left: 2px solid $black;
  &:hover {
    background-color: $yellow;
  }
}

.delete-category-link {
  text-align: center;
  border-left: 2px solid $black;
  &:hover {
    background-color: $yellow;
  }
}

#back-button {
  font-size: 40px;
}

.back-button-box {
  border-right: 2px solid $black;
  background-color: $yellow;
}

.new-top {
  border-bottom: 2px solid $black;
  border-right: 2px solid $black;
}

// form

.form-control {
  border: 2px solid $black;
  border-radius: 0;
  background-color: $beige;
}

.submit-button {
  border: 2px solid $black;
  width: 100%;
  border-radius: 0;
  text-align: center;
  &:hover {
    background-color: $yellow;
  }
}

.oauth-login {
  border: 2px solid $black;
  border-radius: 0;
  text-align: center;
  margin-right: 10px;
  &:hover {
    background-color: $yellow;
  }
}

.form-items {
  border-bottom: 2px solid $black;

  // width: 50%;
}

// category show


.not-started-title {
  background-color: $beige;
  height: 100px;
  width: 100%;
  border-bottom: 2px solid $black;
}

.progress-container {
  // height: 100vh;
  border-right: 2px solid $black;
  border-bottom: 2px solid $black;
}

.in-progress-title {
  background-color: $yellow;
  height: 100px;
  width: 100%;
  border-bottom: 2px solid $black;
}

.complete-title {
  background-color: $green;
  height: 100px;
  width: 100%;
  border-bottom: 2px solid $black;
}

.done {
  height: 100vh;
  border-right: 2px solid $black;
}

.row {
  --bs-gutter-x: 0rem;
}

.idea {
  border-bottom: 2px solid $black;
  background-color: $white;
  height: 100px;
  cursor: grab;
  &:hover {
    background-color: $yellow;
  }
}

.idea-space {
  height: 100vh;
}


// new

#idea_content {
  border: 2px solid $black;
  background-color: $white;
}

.trix-button {
  border: 2px solid $black;
  background-color: $beige;
  &:hover {
    background-color: $yellow;
  }
}

.trix-button--icon-increase-nesting-level,
.trix-button--icon-decrease-nesting-level,
.trix-button--icon-redo,
.trix-button--icon-attach,
.trix-button--icon-number-list,
.trix-button--icon-quote,
.trix-button--icon-undo,
.trix-button--icon-heading-1,
.trix-button--icon-bullet-list,
.trix-button--icon-code,
.trix-button--icon-heading,
.trix-button--icon-strike { display: none; }

.trix-input--dialog {
  border: 2px solid $black;
  margin-top: 10px;
  margin-bottom: 10px;
}

.edit-title {
  padding-right: 5px;
}
.edit-idea-title {
  font-style: italic;
}

// .star {
//   max-width: 100%;
//   max-height: 100%;
// }
