
<div class="category-top d-flex">
  <div class="cat-title bd-highlight w-100 p-3">
    <h2>Your idea categories</h2>
  </div>

  <div class="new-cat-link bd-highlight p-3 d-flex align-items-center">
    <% if policy(Category).create? %>
      <%= link_to new_category_path do %>
          <p>New idea category</p>
      <% end %>
    <% end %>
  </div>
</div>

<div class="category-section">
  <div class="categories row">
    <% @categories.each do |category| %>
      <% if category.user_id == @user.id %>
          <div class="category col-lg-4 col-sm-6 col-xs-12 d-flex align-items-end ">
              <%= link_to category.title, category_ideas_path(category), class:'category-title' %>

              <div class="category-buttons d-flex">
                <%= link_to edit_category_path(category) do %>
                  <i class="ph-pencil-simple-line" id="action-button"></i>
                <% end %>
                <%= link_to category, method: :delete, data: {confirm: "Are you sure you want to delete?"} do %>
                  <i class="ph-trash" id="action-button"></i>
                <% end %>
              </div>
          </div>
          <% end %>
    <% end %>
  </div>
</div>
