<% if policy(Category).create? %>
  <%= link_to new_category_path do %>
      <p>New idea category</p>
  <% end %>
<% end %>

<% @categories.each do |category| %>
  <%= link_to category_ideas_path(category) do %>
    <h2> <%= category.title %> </h2>
  <% end %>
<% end %>
